* {
    box-sizing: 0;
    margin: 0;
}

body {
    font-family: "Geist Mono", monospace;
   
}

main {
    height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    
}

/*  navbar */




.first-part thead {
    color: rgb(247, 166, 17);
    font-size: 1.5em;
   
   
   
}
.first-part td {
    padding: 15px;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
}

.first-part {
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 85%;
}
.first-part > table {
    background-color: rgba(51, 65, 85,0.3);
    width: 40%;
    text-align: center;
    border-radius: 5px;
}

.add-to-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 10px;
}
.add-to-cart select {
    padding: 5px;
    background-color: rgba(51, 65, 85, 1);
    color: white;
    font-size: .8em;
    font-weight: 700;
    border: none;
    border-radius: 4px;
}
.add-to-cart button {
    padding: 5px 15px;
    font-weight: 700;
    background-color: rgba(51, 65, 85, 1);
    border: none;
    color: white;
    font-size: .8em;
}

.add-to-cart > select:hover {
    cursor: pointer;
    background-color: #0d6efd;
}

.steam {
    width: 20px;
    height: 40px;
    background: linear-gradient(to top, rgba(255,255,255,0.7), transparent);
    position: relative;
    margin: 0 auto;
    animation: float 2s infinite ease-in-out;
    border-radius: 2px;
  }
  
  .coffee-cup {
    font-size: 5rem;
    text-align: center;
  }
  
  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(20px);
    }
  }
  
  